# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.OpenCVRepo.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\#Uni\Tiere im Film\OpenCV\OpenCVRepo\.idea\.idea.OpenCVRepo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
